
<body>
  <h1>Stato ordine</h1>
  <p>Grazie per il tuo ordine. Il pagamento è avvenuto con successo!</p>
  
  <!-- Add any relevant order details or information here -->
  <!-- For example, you can display the order number, total amount, etc. -->
  
  <img class="thank-you-img" style="height: 450px; max-width: 700px;"  src="https://img.freepik.com/free-vector/tiny-woman-ordering-parcel-online-via-smartphone-box-internet-client-flat-vector-illustration-delivery-service-digital-technology_74855-8640.jpg?w=1060&t=st=1690298337~exp=1690298937~hmac=0e154564716da8d29c6c2046ee09fc3c299f0a5027c048f8a79535c3decf0c81" alt="Thank You">
  <!-- Replace the 'src' attribute with the actual URL of the image you want to display -->
</body>

