<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="logo.png" alt="Logo del sito">
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Prodotti</a></li>
        <li><a href="#">Chi Siamo</a></li>
        <li><a href="#">Contatti</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <ul>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Tutti i diritti riservati &copy; 2023 Nome del tuo sito</p>
  </div>
</footer>
