<ng-template>
    <div style="width: 100%; text-align: center; margin-bottom: 25px;">
      <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 25px;">Modalità di pagamanento Accettate</h1>
    </div>
    <mat-grid-list cols="4" rowHeight="80px" gutterSize="10px" style="border-radius: 24px;border: solid 1px black">
      <mat-grid-tile>
        <img src='https://cdn-icons-png.flaticon.com/512/349/349221.png?w=1380&t=st=1690348067~exp=1690348667~hmac=60441fd6ae7d61f8094b31fc48726ec9faae449b57e7c0ba18ab6913bb7807b3' alt="" style="object-fit: contain; height: 70px;">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src='https://cdn-icons-png.flaticon.com/512/196/196566.png?w=1380&t=st=1690348182~exp=1690348782~hmac=a20a7df39d7f689676bb4ddc66d5810ce4939950a1c2258662e6b89c9ca05c9e' alt="" style="object-fit: contain; height: 70px;">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src='https://www.flaticon.com/free-icon/apple-pay_5968630?term=apple+pay&page=1&position=5&origin=tag&related_id=5968630' alt="" style="object-fit: contain; height: 70px;">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Logo_di_Satispay.svg/1598px-Logo_di_Satispay.svg.png' alt="" style="object-fit: contain; height: 70px;">
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>